html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px; /* Set the fixed height of the footer here */
    line-height: 45px; /* Vertically center the text there */
    background-color: #002654;
    color: #6B819C;
    text-align: center;
}



.link{
    text-decoration: none;
    color: 	#6B819C;
}
.link:hover{
    color: #ce1126 !important;
}


#navbar{
    background-color: #002654;
}
nav a:hover{
    color: #ce1126 !important;
}
#logo{
    outline: 2px white solid;
    height: 30px;
    width: 45px;
}
.btn{
    border-radius: 0 !important;
}
.btn-outline-danger{
    color: #ce1126 !important;
}
.btn-outline-danger:hover{
    background-color: #800020;
}
form input{
    border-radius: 0 !important;
}
form input:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-secondary{
    margin-right: 10px !important;
}
#dropdownMenu2{
    background-color: #002654;
    border: none;
    color: 	#6B819C;
}
#dropdownMenu2:active,#dropdownMenu2:hover{
    outline: none;
    color: #ce1126;
}
.center{
    text-align: center;
}
.login-box{
    background-color: #002654;
    color: whitesmoke;
    padding: 30px;
}
.login-button{
    width: 45%;
    background-color: #002654;
    outline: none;
}


.pushNav{
    padding-top: 10px;
}
.pushNavLogReg{
    padding-top: 60px;
}